#canvas {
    background-color: #000; /* Imposta il colore di sfondo del canvas */
    position: absolute;
    left: 50%; /* Sposta l'elemento a metà della larghezza della pagina */
    transform: translate(-50%,0); /* Trasla l'elemento all'indietro di metà della sua larghezza e altezza */
    /*border: 2px solid white;*/
}

#score{
    font-family: 'Press Start 2P', sans-serif; /* Utilizza il font 'Press Start 2P' */
    font-size: 24px; /* Dimensione del carattere */
    font-weight: bold; /* Grassetto */
    color: white; /* Colore del testo */
    background-color: black; /* Colore dello sfondo */
    text-align: center; /* Allinea il testo al centro */
    padding: 10px; /* Aggiunge spazio intorno al contenuto */
}

body {
    background-color: black;
}